$color-white: #FFFFFF;
$color-red: #CE442C;

@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch:700|Patrick+Hand+SC|Waiting+for+the+Sunrise);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500);

*{
  box-sizing: inherit;
  &:before, &:after{
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.illustrative-image{
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

.app {
  min-height: 100vh;
  background: $color-red;
  display: flex;
  @media only screen and (max-width: 600px) {
    padding: 1rem;
  }
}

.add{
  &-size, &-crust, &-toppings{
    background-color: $color-white;
    @media only screen and (max-width: 600px) {
      width: 100%;
      min-height: 100vh;
    }
    .pizza-background{
      background: url("../assets/pizza-background.jpg");
      height: 120px;
      background-size: cover;
      opacity: 0.85;
    }
    h1{
      font-family: Cabin Sketch;
      font-size: 2rem;
      text-align: center;
      padding: 0 2rem;
      @media only screen and (max-width: 600px) {
        padding: 0 1rem;
      }
    }
    h2 {
      text-align: center;
      font-size: 1rem;
      font-weight: 300;
      padding: 0 2rem;
      @media only screen and (max-width: 600px) {
        padding: 0 1rem;
      }
    }
    .MuiFormControl-root{
      width: 100%;
      .MuiFormGroup-root{
        display: block;
        padding: 0 2rem;
        @media only screen and (max-width: 600px) {
          padding: 0 1rem;
        }
        .MuiFormControlLabel-label{
          height: 100%;
          width: 100%;
          padding: 10px 5px;
          @media only screen and (max-width: 600px) {
            padding: 0;
          }
        }
        .Mui-checked + .MuiFormControlLabel-label{
          border: 1px solid $color-red;
          border-radius: 10px;
        }
        .MuiFormControlLabel-root{
          vertical-align: baseline;
          text-align: center;
          width: 33%;
          margin: 0;
          @media only screen and (max-width: 600px) {
            width: 100%;
          }
          p{
            margin-top: 0;
          }
          &:first-child{
            img{
              width: 60%;
            }
          }
          &:nth-child(2){
            img{
              width: 80%;
            }
          }
          &:nth-child(3){
            img{
              width: 100%;
            }
          }
        }
        .MuiIconButton-root{
          display: none;
        }
      }
    }
  }
}

.add-crust{
  .MuiFormControlLabel-root{
    @media only screen and (min-width: 601px) {
      width: 50%!important;
    }
  }
}

.add-toppings{
  .ingredients-pictures{
    display: flex;
    flex-wrap: wrap;
    li{
      text-align: center;
      width: 130px;
      height: 160px;
      display: block;
      img{
        width: 100%;
      }
      p{
        font-size: 1rem;
        margin-top: 0;
      }
    }
  }
  .MuiInputBase-root{
    margin: 3rem 2rem;
    @media only screen and (max-width: 601px) {
      margin: 1rem;
    }
    .MuiSelect-selectMenu{
      white-space: normal;
    }
  }
}

.check-pizza{
  background-color: $color-white;
  @media only screen and (max-width: 600px) {
    width: 100%;
    min-height: 100vh;
  }
  .pizza-background{
    background: url("../assets/pizza-background.jpg");
    height: 120px;
    background-size: cover;
    opacity: 0.85;
  }
  h1{
    font-family: Cabin Sketch;
    font-size: 2rem;
    text-align: center;
    padding: 0 2rem;
    @media only screen and (max-width: 600px) {
      padding: 0 1rem;
    }
  }
  h2 {
    text-align: center;
    font-size: 1rem;
    font-weight: 300;
    padding: 0 2rem;
    @media only screen and (max-width: 600px) {
      padding: 0 1rem;
    }
  }
  .pizza-details{
    padding: 0 2rem;
    text-align: center;
    @media only screen and (max-width: 600px) {
      padding: 0 1rem;
    }
    &__size, &__crust{
      img{
        width: 100%;
      }
    }
    &__toppings{
      ul{
        display: flex;
        flex-wrap: wrap;
        li{
          text-align: center;
          width: fit-content;
          line-height: 0;
          margin: auto;
        }
      }
    }
    &__price{
      text-align: center;
    }
  }
}

.btn{
  &-add{
    text-align: center;
    margin: 25px auto!important;
    a{
      text-decoration: none;
      button{
        background-color: red;
        &:hover{
          background-color: $color-white;
          color: red;
          border: 1px solid $color-red;
        }
      }
    }
  }
}
